In [3]:
a=10
b=20
a
b

20

In [5]:
a=10
b=20
print(a)
print(b)

10
20

In [7]:
print(a)
print(b)

10
20

In [9]:
print(a),print(20)

10
20

(None, None)

In [11]:
10,20

(10, 20)

In [13]:
print(a,b)

10 20

In [15]:
print(30,'Nareshit','Hyd')

30 Nareshit Hyd

In [25]:
num1=100
num2=200
add=num1+num2
# the addtion of100 and 200 is 300
print("the addtion of100 and 200 is 300")
print("the addtion of100 and 200 is 300")
print("the addtion of", num1, "and", num2, "is", add)

the addtion of100 and 200 is 300
the addtion of100 and 200 is 300
the addtion of 100 and 200 is 300

In [27]:
num1=1000
num2=200
add=num1+num2
# the addtion of100 and 200 is 300
print("the addtion of100 and 200 is 300")
print("the addtion of100 and 200 is 300")
print("the addtion of", num1, "and", num2, "is", add)

the addtion of100 and 200 is 300
the addtion of100 and 200 is 300
the addtion of 1000 and 200 is 1200

In [35]:
name="python"
age=10
city="hyd"
# my name is python im 10 years old and came from hyd
print("my name is", name, "im", age, "years old and came from", city)

my name is python im 10 years old and came from hyd

**format method**

In [42]:
name="python"
age=10
city="hyd"
# my name is python im 10 years old and came from hyd
print("my name is {} im {} years old and came from {}".format(name,age,city))
# order is must important to get the correct answer

my name is python im 10 years old and came from hyd

In [44]:
name="python"
age=10
city="hyd"
# my name is python im 10 years old and came from hyd
print("my name is {} im {} years old and came from {}".format(city,name,age))

my name is hyd im python years old and came from 10

In [48]:
num1=1000
num2=200
add=num1+num2
# the addtion of100 and 200 is 300
print("the addtion of100 and 200 is 300")
print("the addtion of{} and{} is {}".format(num1,num2,add))

the addtion of100 and 200 is 300
the addtion of1000 and200 is 1200

In [74]:
#wap take two number perform the
# subraction
# multiplecation
# division
#print the statements as follows

#the subraction of 100 and 200 is -100
#the multiplication is 100 and 200 is 20000
#the division of 100 and 200 is 0.5

In [76]:
num1=100
num2=200
sub=num1-num2
mul=num1*num2
div=num1/num2
# the sub of100 and 200 is -200
#the multiplecation os 100 and 200 is 20000
#the division of 100 ans 200 is 0.5
print("the subraction of {} and {} is {}". format(num1,num2,sub))
print("the multiplication is {} and {} is {}". format(num1,num2,mul))
print("the division of {} and {} is {}". format(num1,num2,div))

the subraction of 100 and 200 is -100
the multiplication is 100 and 200 is 20000
the division of 100 and 200 is 0.5

In [85]:
a=10
b=20
c=30
avg=(a+b+c)/3
print("the average of {} , {} and {} is {}". format(a, b, c, avg))

the average of 10 , 20 and 30 is 20.0

In [87]:
num1=100
num2=200
sub=num1-num2
mul=num1*num2
div=num1/num2
# the sub of100 and 200 is -200
#the multiplecation os 100 and 200 is 20000
#the division of 100 ans 200 is 0.5
print("the subraction of {} and {} is {}". format(num1,num2,sub))
print("==========================================================")
print("the multiplication is {} and {} is {}". format(num1,num2,mul))
print("==========================================================")
print("the division of {} and {} is {}". format(num1,num2,div))
print("==========================================================")
a=10
b=20
c=30
avg=(a+b+c)/3
print("the average of {} , {} and {} is {}". format(a, b, c, avg))

the subraction of 100 and 200 is -100
==========================================================
the multiplication is 100 and 200 is 20000
==========================================================
the division of 100 and 200 is 0.5
==========================================================
the average of 10 , 20 and 30 is 20.0

**f string method**

In [93]:
num1=100
num2=200
sub=num1-num2
mul=num1*num2
div=num1/num2
# the sub of100 and 200 is -200
#the multiplecation os 100 and 200 is 20000
#the division of 100 ans 200 is 0.5
print(f"the subraction of {num1} and {num2} is {sub}")
print("==========================================================")
print(f"the multiplication is {num1} and {num2} is {mul}")
print("==========================================================")
print(f"the division of {num1} and {num2} is {div}")
print("==========================================================")
a=10
b=20
c=30
avg=(a+b+c)/3
print(f"the average of {a} , {b} and {c} is {avg}")
# write f at the start and fill the curly brases with respected fillments instead of dot format method

the subraction of 100 and 200 is -100
==========================================================
the multiplication is 100 and 200 is 20000
==========================================================
the division of 100 and 200 is 0.5
==========================================================
the average of 10 , 20 and 30 is 20.0

In [99]:
a=11
b=20
c=30
avg=(a+b+c)/3
print(f"the average of {a} , {b} and {c} is {avg}")

the average of 11 , 20 and 30 is 20.333333333333332

**round**

In [101]:
# print()
# type()
# int()
# float()
# str()
# bool()
# roand()

In [103]:
round(10.77777777)

11

In [105]:
print(round(10.77777777))
print(round(10.77777,2))
print(round(10.77777,3))

11
10.78
10.778

In [109]:
a=11
b=20
c=30
avg=(a+b+c)/3
print(f"the average of {a} , {b} and {c} is {round(avg)}")

the average of 11 , 20 and 30 is 20

**I have mulple print statement**

**end**

In [116]:
print(10,end=" , ")
print(20,end=" , ")
print(30)

10 , 20 , 30

In [118]:
print(10,end=" ====> ")
print(20)

10 ====> 20

In [126]:
print('hello',end="  ")
print('how',end="  ")
print('are',end="  ")
print('you',end="  ")

hello  how  are  you

**i have multiple values in a dingle print statement**

**i want print them with some seperation**

In [136]:
print(10,20,30,sep='   ')

10   20   30

In [138]:
print(10,20,30,sep='====>')

10====>20====>30

- basic print statement
- learn format method
- we learn fstring method
- we learn round
- we learn end operator
- we learn sep operator

In [172]:
# wap take the radidus of a circle calculate area of the circle
# var: radidus  var: pi=3.14
# formuale: pi*radius*radius
# print the answers using f string and format

In [174]:
radius=15
pi=3.14
area=pi*radius*radius
print(f"the area of the circle is {area}")
print("the area of the circle is {}".format(area))

the area of the circle is 706.5
the area of the circle is 706.5

In [176]:
#wap take the breadth and height of a right angle triangle
# calculate the area
# var1: bredath  var2: height
# formuale : 0.5*breadth*heigh

In [184]:
breath=3
height=5
area=0.5*breath*height
print(f"the area of the right angle tringle is {area}")
print("the area of the right angle triangle is {}".format(area))

the area of the right angle tringle is 7.5
the area of the right angle triangle is 7.5

In [180]:
# wap take the bill amount and tip amount
# calculate total bill
# var1: bill amount var2: tip amount
# formuale

In [186]:
billamount=150
tipamount=50
totalbill= billamount+tipamount
print(f"the total bill amount  is {totalbill}")
print("the total bill amount is {}".format(totalbill))

the total bill amount  is 200
the total bill amount is 200

In [166]:
# wap take the length and breadth of a rectangle calculate area
# var1: length  var2: breadth
# formulae: length * breadth

In [168]:
lenth=6
breath=5
area=lenth*breath
print(f"the area of rectangle is {area}")
print("the area of rectangle is {}".format(area))

the area of rectangle is 30
the area of rectangle is 30

**input**

- in above we provided the value
- input is the inbuilt function 
- using input the user can provide any value

In [190]:
input

**note:whenever if we see bound method or function which indicates we forget the brackets**

In [197]:
input()

 100

'100'

In [201]:
name=input()

 adibanaz

In [203]:
name

'adibanaz'

In [211]:
n1=input()  #n1='100'
n2=input()  #n2='200'
n3=input()  #n3='300'

 100
 200
 300

In [213]:
n1,n2,n3

('100', '200', '300')

In [215]:
n1=input("enter the number1:")
n2=input("enter the number2:")

enter the number1: 100
enter the number2: 200

In [234]:
n1=input("enter the number1:") #n1='500'
n2=input("enter the number2:") #n2='600'
n1+n2 #'500'+'600'='500600'

enter the number1: 500
enter the number2: 600

'500600'

**input valuesby default string type**

In [222]:
'100'+'200'

'100200'

In [224]:
100+200

300

In [228]:
str1='apple'
str2='is'
str3='fruit'
str1+str2+str3

'appleisfruit'

In [232]:
str1=input("enter a string1:")
str2=input("enter a string2:")
str3=input("enter a string3:")
str1+str2+str3

enter a string1:  apple
enter a string2:  is
enter a string3:  fruit

' apple is fruit'

In [240]:
n1=int(input("enter the number1:")) #n1='500'
n2=int(input("enter the number2:")) #n2='600'
n1+n2 #500+'600=1100

enter the number1: 500
enter the number2: 600

1100

In [242]:
n1=int('500')
n2=int('600')
n1+n2

1100

In [244]:
n1=int(input("enter the number1:")) #n1='500'
n2=int(input("enter the number2:")) #n2='600'
int(n1)+int(n2) #int('500')+int('600')=1100

enter the number1: 500
enter the number2: 600

1100

In [246]:
n1=int(input("enter the number1:")) #n1='500'
n2=int(input("enter the number2:")) #n2='600'
int(n1)+int(n2) #int('500')+int('600')=1100

enter the number1: 500
enter the number2: 600

1100

**eval**
- eval means evaluate
- it is related to math family
- which meansitwork only number represent as string
- it will not works on english letter
- eval will convert the repective data type which is user enter
- if user enter 10 in quotes it will convert into 10
- if user 10.5 in quotes it will convert into 10.5

int('10')
int('10.5')

float('10')
float('10.5')

In [254]:
eval('10'), eval('10.5')

(10, 10.5)

In [256]:
n1=eval(input("enter the number1:")) 
n2=eval(input("enter the number2:")) 
n1+n2

enter the number1: 10
enter the number2: 20.5

30.5

In [258]:
# wap ask the user to enter radidus of a circle calculate area of the circle
# var: radidus  var: pi=3.14
# formuale: pi*radius*radius
# print the answers using f string and format

In [261]:
#wap take the breadth and height of a right angle triangle
# calculate the area
# var1: bredath  var2: height
# formuale : 0.5*breadth*heigh

In [264]:
# wap take the bill amount and tip amount
# calculate total bill
# var1: bill amount var2: tip amount
# formuale

In [ ]:
# wap take the length and breadth of a rectangle calculate area
# var1: length  var2: breadth
# formulae: length * breadth