-integer
-float
-string
-

- myth
  -only 14-15 data type available

$integer$

In [7]:
number=100
number

100

In [9]:
type(number)

int

In [11]:
# type is a inbuilt function

**number system**

-Binary number system

-decimal number system

-octa number system

-hexa number system

In [18]:
9*9
5*5
81*25

2025

In [20]:
40*40+20*20+5*5

2025

In [24]:
sum([i**3 for i in range(1,10)])

2025

**binary number system**
- it is denoted with **0b** or **0B**
- Binary means two
- we have generally 0 to 9 digits available
- binarymeans two digits allowed :0 and 1
- ex: 0b101 0b111 0b001
- not valid: 0b123   0b1000012

In [62]:
0b111

7

2^2         2^1      2^0
4            2         1
################################################################
0            0         0         0
0            0         1         1
0            1         0         2
0            1         1         3
1            0         0         4
1            0         1         5
1            1         0         6
1            1         1         7

**octa number system**
- it is denoted with **0o** or **0O**
- octa means 8
- we have generally 0 to 9 digits available
- octameans twi digits allowed :0 1 2 3 4 5 6 7
- ex: 0o567 0o111 0O672
- not valid: 0o768   0o169

**hexa number system**
- it is denoted with **0x** or **0X**
- hexa means 16
- we have generally 0 to 15 digits available
- hexa means twi digits allowed :0 1 2 3 4 5 6 7 8 9 10 11 12 13
- ex: 0x567 0x111 0O672
- not valid: 0X1568   0x169

**float**

In [37]:
number=10.5
type(number)

float

**e representation**

In [43]:
1e1

10.0

In [46]:
1e2

100.0

In [48]:
1e3

1000.0

In [50]:
print(1e+1)   #1*10=10
print(1e+2)   #1*100=100
print(2e+3)   #2*1000=2000
print(4e+4)   #4*10000=40000

10.0
100.0
2000.0
40000.0

In [52]:
print(1e-1)   
print(1e-2)   
print(2e-3)   
print(4e-4)

0.1
0.01
0.002
0.0004

**boolean**

In [2]:
val=True
val

True

In [6]:
type(val)

bool

In [8]:
val1=False
val1

False

In [10]:
val1=False
type(val1)

bool

**Strings**

- English format represention
- strings represent with quotes
- we can use single quotes, double quotes also triple quotes

In [17]:
name='python'
name

'python'

In [19]:
type(name)

str

In [21]:
print(name)
#when we print we will not

python

In [23]:
val='10'
type(val)

str

In [25]:
val1=10
type(val1)

int

In [27]:
name="naresh it"
name
# but the output displayed as single quotes

'naresh it'

In [29]:
type(name)

str

In [31]:
print(name)

naresh it

In [45]:
str1="i love python"
str1

'i love python'

In [47]:
str2="i love 'python'"
str2

"i love 'python'"

In [49]:
print(str2)

i love 'python'

- Keep entire string in double quotes then highlight the word with single quote vice verse

**triple quotes**
- triple quotes can not use in coding part
- triple quotes means conveying the informatom
- this is process is called as **Doc string**
- in jupyter notebook wer have markdown option
- but in vscode or pycharmthere is no markdown option
- so user will convey the information by providing triple quotes

In [56]:
"""haii
today im learning python
its easy"""

'haii\ntoday im learning python\nits easy'

In [60]:
true=True #works
true='True' #w
true=10.5 #w
True= 10 #f
True= True #f

SyntaxError: cannot assign to True (2901901490.py, line 4)